.slide-counter {
  position: absolute;
  bottom: 25px;
  color: white;
  font-size: 25px;
  background-color: rgb(3, 5, 5);
  padding: 5px;
  display: flex;
  justify-content: center;
}

.slide-counter p {
  margin: 0;
}

@media (max-width: 1000px) {
  .slide-counter {
    bottom: auto;
    top: 175px;
  }
}