.slide-counter {
  position: absolute;
  bottom: 25px;
  color: white;
  font-size: 21px;
  background-color: rgb(3, 5, 5);
  padding: 2px;
  display: flex;
  justify-content: center;
}

.slide-counter p {
  margin: 0;
}

.counter-position {
  margin: 0 !important;
}

@media (max-width: 1000px) {
  .slide-counter {
    top: 145px;
    bottom: auto;
    margin-right: 260px;
  }
}
