.slide-list {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.video-icon {
  width: 50%;
}

.full-slide-list {
  display: flex;
  align-items: center;
  position: absolute;
  opacity: 0;
  z-index: 0;
}
