body {
  margin: 0;
}

.app-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 1) 0%, rgba(65, 65, 65, 1) 74%);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none;
  font-size: inherit;
  padding: 0.2em;
  border-right: 1px solid rgba(13,20,27,.5);
  background-color: rgb(64,73,82);
}

.button:hover {
  cursor: pointer;
  background-image:
    radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
    radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
    linear-gradient(rgb(51,60,67), rgb(58,65,72));
}

.input {
  font-size: inherit;
  padding: 0.2em;
}

.invisible {
  display: none;
}

.item-form {
  display: flex;
  justify-content: center;
}

.item-input {
  width: 50%;
}
