.loading-container {
	height: 100%;
	width: 100%;
	top: 0%;
	left: 100%;
	position: absolute;
	background-color: black;
	z-index: 2;
}

.loading-dual-ring {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.loading-dual-ring:after {
  content: " ";
  display: block;
	width: 200px;
	height: 200px;
  margin: 8px;
  border-radius: 50%;
  border: 15px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-dual-ring 1.2s linear infinite;
}
@keyframes loading-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 320px) {
	.loading-dual-ring:after {
		width: 150px;
		height: 150px;
	}
}